.main {
  width: 100%;
  height: 700px;
  background-image: url("../../Order-summary-component/images/pattern-background-desktop.svg");
  // background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: $paleBlue;
  padding: 40px;
}
.container {
  width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  h2 {
    margin-top: 45px;
    font-size: 27px;
  }
  p {
    margin-top: 2px;
    color: $greyText;
  }
}
.adv {
  background-color: $veryPaleBlue;
  height: 90px;
  margin: 10px 30px 20px 30px;
  border-radius: 12px;
  padding: 25px;
  margin-left: 30px;
  //   text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  a {
    color: $brightBlue;
  }
  a:hover {
    text-decoration: none;
    color: $brightPurple;
    transition-duration: 0.3s;
  }
}
.adv-song {
  display: flex;
  align-items: center;
  .adv-tag {
    line-height: 0.4;
    padding: 20px;
  }
}
.text-cent {
  margin: 0 auto;
  width: 300px;
}
.upper-btn {
  background-color: $brightBlue;
  text-decoration: none;
  color: white;
  border-radius: 12px;
  margin: 20px 30px 20px 30px;
  width: 365px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  box-shadow: 2px 8px 25px $brightBlue;

  //   :hover {
  //     color: $darkBlue;
  //   }
}
.upper-btn:hover {
  background-color: $brightPurple;
  box-shadow: 2px 8px 25px $brightPurple;
  // transition-duration: 0.3s;
}
.lower-btn {
  // color: rgb(108, 119, 147);
  color: $greyText;
  text-decoration: none;
  opacity: 0.7;
  margin: 30px 30px 35px 30px;
  font-weight: 700;
}
.lower-btn:hover {
  color: $darkBlue;
}
a {
  text-align: center;
}
