// Colors
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsla(0, 0%, 100%, 0.75);
$darkBlue: hsl(223, 47%, 23%);
$brightPurple: rgb(118, 108, 241);
$greyText: rgb(139, 140, 160);
